.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 100; }
   .popup__title {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase; } 
  .popup.active {
    background: rgba(0, 0, 0, 0.7);
    animation: 0.5s ease-out 0s 1 darken; }
    .popup.active .popup__content {
      animation: 0.5s ease-out 0s 1 slideFromTop; }
.popup__container {
    position: relative;}
  .popup__content {
    top: 100px;
    position: relative;
    background-color: rgba(234, 233, 235, 0.95);
    width: 960px; }
  .popup__header {
    box-sizing: border-box;
    padding: 16px 42px;
    background-color: #63536C;
    color: #FFFFFF; }
  .popup__wrapper {
    padding: 35px 104px; }
  .popup__dismiss {
    float: right; }
    .popup__dismiss img {
      height: 1em;
      transition: .3s all ease; }
      .popup__dismiss img:hover {
        transform: scale(1.2);
        transition: .3s all ease; }